In [16]:
import pandas as pd
import numpy as np

train =  pd.read_csv("pyconuk-introtutorial-master/data/train.csv")

In [17]:
#Cleaning data

train = train.drop(["Name", "Ticket", "Cabin"], axis = 1)

#imputation continuos
age_mean = train["Age"].mean()
df["Age"] = train["Age"].fillna(age_mean)

from scipy.stats import mode

modeEmbarked = mode(train.Embarked.dropna())[0][0]    #[0] is to obtain the mode we wish from the mode array function output

train["Embarked"] = train["Embarked"].fillna(modeEmbarked)

In [18]:
df["Gender"] = df["Sex"].map({"female" : 0, "male" : 1}).astype(int)

# dummy variable in pandas

pd.get_dummies(train["Embarked"], prefix="Embarked").head(10)

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1
5           0           1           0
6           0           0           1
7           0           0           1
8           0           0           1
9           1           0           0

In [19]:
train = pd.concat([train, pd.get_dummies(train["Embarked"], prefix = "Embarked")], axis = 1)

In [20]:
# for sex would be
train = pd.concat([train, pd.get_dummies(train["Sex"], prefix ="Sex")], axis = 1)

In [22]:
train_data =  df.values

In [23]:
#training the model
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100)